##################
#Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.d
*.pcm

#############
#Executables#
#############
runZJets_newformat
runUnfoldingZJets
runRecoComparison

################
#Output folders#
################
Statistics
HistoFiles*
RecoComparison
